In [3]:
person={
    "id":1,
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
print(person)

{'id': 1, 'name': 'ram', 'age': 22, 'contact': 646546, 'salary': 456645}

In [9]:
person={
    "id":1,
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
print['name']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [12]:
person={
    "id":1,
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
person['email']='suman@gmail.com'
print(person)

{'id': 1, 'name': 'ram', 'age': 22, 'contact': 646546, 'salary': 456645, 'email': 'suman@gmail.com'}

In [13]:
person={
    "id":1,
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
del person['age']
print(person)

{'id': 1, 'name': 'ram', 'contact': 646546, 'salary': 456645}

In [15]:
person={
    "id":1,
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
person.clear()
print(person)

{}

In [1]:
x={
    "id":1,
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
y=x
y['email']='suman@gmail.com'
print(x)
print(y) #ys ma both x and y  print garda both le email print garcha

{'id': 1, 'name': 'ram', 'age': 22, 'contact': 646546, 'salary': 456645, 'email': 'suman@gmail.com'}
{'id': 1, 'name': 'ram', 'age': 22, 'contact': 646546, 'salary': 456645, 'email': 'suman@gmail.com'}

In [3]:
x={
    "id":1,
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
y=x.copy() #copy() prenvents fromprinting email while printing in y
y['email']='suman@gmail.com'
print(x)
print(y)

{'id': 1, 'name': 'ram', 'age': 22, 'contact': 646546, 'salary': 456645}
{'id': 1, 'name': 'ram', 'age': 22, 'contact': 646546, 'salary': 456645, 'email': 'suman@gmail.com'}

In [5]:
x={
    "id":1, #"keys":value
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
print(x.keys()) #prints only keys

dict_keys(['id', 'name', 'age', 'contact', 'salary'])

In [6]:
x={
    "id":1, #"keys":value
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
print(x.values()) #prints only Values

dict_values([1, 'ram', 22, 646546, 456645])

In [7]:
x={
    "id":1, #"keys":value
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
print(x.items()) #prints in the form of ([('keys',value)])

dict_items([('id', 1), ('name', 'ram'), ('age', 22), ('contact', 646546), ('salary', 456645)])

In [10]:
x={
    "id":1, #"keys":value
    "name":"ram",
    "age":22,
    'contact':646546,
    'salary':456645,
}
x.update({"email":'suman@gmail.com','college':'danfe'}) #update the dictnary
print(x)

{'id': 1, 'name': 'ram', 'age': 22, 'contact': 646546, 'salary': 456645, 'email': 'suman@gmail.com', 'college': 'danfe'}