In [1]:
#set data type
s={1,2,3,4,5,6}
print(s,type(s))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [3]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} #set is an unorder collection becayuse input ko order ani outputko order is different
print(s)

{1, 3, 4.5, 'ram', (7, 8, 9), 'shyam', 'hari'}

In [4]:
s={'ram',1,'hari',4.5,'ram',3,'shyam',(7,8,9)} #set is an unique onorder collection (unique lust like database) no repeat
print(s)

{1, 3, 4.5, 'ram', (7, 8, 9), 'shyam', 'hari'}

In [7]:
s={'ram',1,'hari',4.5,'ram',3,'shyam',(7,8,9),[1,2,3]} # this is error because list data can be change but
#set data cannot be change after print so this statement is error
print(s)

TypeError: unhashable type: 'list'

In [8]:
# different types of empty 
empty_string=""
empty_list=[]
empty_tuple=()
empty_dict={}
empty_set=set()

In [3]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} 
# add data in set
s.add('33')
print (s)

{1, 3, 4.5, 'shyam', 'ram', (7, 8, 9), 'hari', '33'}

In [2]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} #remove all daa from set
s.clear() 
print (s)

set()

In [4]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} 
# add tuple data in set
s.add((1,5,0,2))
print (s)

{1, 3, 4.5, 'shyam', 'ram', (7, 8, 9), (1, 5, 0, 2), 'hari'}

In [5]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} 
s.update((2,4,6,7)) #in update it add sing le data insted of tuple data
print (s)

{1, 2, 3, 4.5, 4, 6, 7, 'shyam', 'ram', 'hari', (7, 8, 9)}

In [7]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} 
s.remove(1) #remove 1 from set
print (s)

{3, 4.5, 'shyam', 'ram', (7, 8, 9), 'hari'}

In [9]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} 
s.remove(11) #remove 11 from set => ans is error because 11 is not in set
print (s)

KeyError: 11

In [11]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} 
s.discard(11) #remove if 11 is present in set 
#else print jasta ko testai set
print (s)

{1, 3, 4.5, 'shyam', 'ram', (7, 8, 9), 'hari'}

In [15]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} 
s.pop() #remove 1 from set
print(s.pop())
print (s)

3
{4.5, 'shyam', 'ram', (7, 8, 9), 'hari'}

In [16]:
s={'ram',1,'hari',4.5,3,'shyam',(7,8,9)} 
s.pop() #remove 1 from set
print(s.pop())
print (s)

3
{4.5, 'shyam', 'ram', (7, 8, 9), 'hari'}