In [7]:
us_price={'milk':2.03,'bread':1.25}
nep_price={}
for k,v in us_price.items():
    nep_price.update({k:((v*133.99)+(v*133.99)*0.13)})

print(nep_price)

{'milk': 307.359661, 'bread': 189.260875}

In [17]:
us_price={'milk':2.03,'bread':2.6,'butter':2.6,'meat':5,'mobile':500}
nep_price={}
for k,v in us_price.items():
    if v>5:
        nep_price.update({k:(v*133.99*0.20)})
    else:
        nep_price.update({k:(v*133.99*0.13)})
        

print(nep_price)

{'milk': 35.359961000000006, 'bread': 45.28862, 'butter': 45.28862, 'meat': 87.0935, 'mobile': 13399.0}

In [20]:
#pass continue break
age = 17
if age <18:
    pass

print("hello")

hello

In [25]:
numbers= [1,2,6,10,8,9,6]
x=0
for i in numbers:
    if i==6:
         pass
    else:
        x+=i

print (x)

30

In [37]:
numbers= [1,2,6,10,8,9,6]
print(sum(numbers))
x=0
for i in numbers:
    if i==6:
        pass

    x+=i

print (x)

42
42

In [40]:
numbers= [1,2,6,10,8,9,6]
print(sum(numbers))
x=0
for i in numbers:
    if i==6:
        continue 
        #skip the curent iteration item
        #doesnot run anything after continue
    x+=i

print (x)

42
30

In [41]:
numbers= [1,2,6,10,8,9,6]
print(sum(numbers))
x=0
for i in numbers:
    if i==6:
        break 
        #skip the curent iteration item
        #doesnot run anything after continue
    x+=i

print (x)

42
3

In [45]:
names =['ram','shyam','gita']
foods =['momo','thupa','chauchau']
for name in names:
    for food in foods:
        print(f"{name} eats {food}")

ram eats momo
ram eats thupa
ram eats chauchau
shyam eats momo
shyam eats thupa
shyam eats chauchau
gita eats momo
gita eats thupa
gita eats chauchau