In [13]:
def addition(x,y):
    sum=x+y
    print("sum of",x,"and",y, "is",sum)

x=int(input("enter the value of x"))
y=int(input("enter the value of y"))
addition(x,y)

enter the value of x 88
enter the value of y 4

sum of 88 and 4 is 92

In [14]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [16]:
x=1
print("one=",1)

one= 1

In [5]:
def add(x,y):
    global c
    c=x+y
    return c

add(2,3)
print(c)

5

In [6]:
def add(x,y=0):
    c=x+y
    print(c)

add(2,3)

5

In [8]:
def add(x,y=0): #if y ko value is not passef through method call then by default y = 0
    c=x+y
    print(c)

add(2)

2

In [9]:
def add(x=0,y=0): #if  x and y ko value is not passef through method call then by default x=0, y = 0
    c=x+y
    print(c)

add()

0

In [12]:
add(1)

1

In [17]:
def add(x,y):
    """ add function is used to add two numbers """
    c=x+y
    return c

addition=add(2,3)
print(addition)

5

In [19]:
help(add) #dcumentaion string

Help on function add in module __main__:

add(x, y)
    add function is used to add two numbers

In [20]:
from math import sqrt

In [15]:
help(sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [28]:
def cal(x=0,y=0):
    add=x+y
    sub=x-y
    mul=x*y
    print("addition= "+str(add))
    print("subration= "+str(sub))
    print("multiply= "+str(mul))
    if y!=0:
        div=x/y
        print("divide= "+str(div))
 


cal(5,6)

addition= 11
subration= -1
multiply= 30
divide= 0.8333333333333334

In [29]:
cal(4,0)

addition= 4
subration= 4
multiply= 0

In [31]:
def cal(x=0,y=0):
    add=x+y
    sub=x-y
    mul=x*y
    div=x/y
    return add, sub,mul,div  #returning the value in tuple

cal(5,6)

(11, -1, 30, 0.8333333333333334)

In [32]:
addition,subratction, multiplication,division= cal(4,5) #tuple unpacking
print(addition,subratction, multiplication,division)

9 -1 20 0.8

In [33]:
def cal(a,s,d,f):
    sum=a+s+d+f
    print(sum)

cal(1,3,4,5)

13

In [34]:
def cal(a,s,d,f):
    sum=a+s+d+f
    return sum

s=cal(1,3,4,5)
print(s)

13

In [40]:
def cal(*args): # collect all data 1 by onejust like in array
    sum=0
    for i in args:
        sum+=i
    print(sum)

cal(5,5,5,5,5,5)
# When you call cal(5, 5, 5, 5, 5, 5), it will output 30, which is the sum of the provided numbers. 
# This function uses the *args parameter to accept a variable number of arguments, collects them into a tuple, and iterates through them to compute 
# their sum.

30

In [41]:
# but it doesnot support keyword argument
cal(x=1,y=3)

TypeError: cal() got an unexpected keyword argument 'x'

In [47]:
# to  support keyword argument we need to padd two (**) in parameter
def addition(**suman):
    print(suman,type(suman)) # it is in dictionary so to sum ne need values only
    sum = 0
    for value in suman.values():
        sum += value
    print(sum)

addition(x=1, y=3)

{'x': 1, 'y': 3} <class 'dict'>
4

In [60]:
def addition(*suman, **sumanM):  # to support both value only and key-value data
    sum = 0
    for i in suman:
        sum += i
    for i in sumanM.values():
        sum += i
    return sum

s = addition(1, 2, 1, x=1, y=3, z=2)
print(s)

10

In [56]:
 def hello():
     xyz="hello"
     print(xyz)
hello()

hello

In [57]:
print (xyz) #error because xyz is local variable inside function out side function it is destroyed

NameError: name 'xyz' is not defined

In [61]:
#buidl in scope => anywhere in python file => print, min ,max, sorted
#global scope => created variable within python file  module
#local scope => inside function

In [67]:
x = 5
def hello():
    x=2 #local varable of function
    print("from inside method",x)

print(x)
hello()
print(x)

5
from inside method 2
5

In [72]:
x = 5
def hello():
    y = x + 2 #local value
    print("from inside method",y)

print(x)
hello()
print(x)

5
from inside method 7
5

In [76]:

x=5 #global value
def hello():
    global x  #x ko value is change into global
    x=x+1
    print(x) #global => 7
    
print(x) #global => 5
hello() 
print(x) #global => 7

5
6
6

In [82]:
def fact(x):
    factorial = 1
    for i in range(1, x + 1):  #for(i=1; i>=n; i++)
        factorial *= i
    print(factorial)

fact(5)

120

In [83]:
def fact(x):
    factorial = 1
    for i in range(x,0,-1):   # (i= 5 ; i<0 ; i--)
        factorial *= i
    print(factorial)

fact(5)

120

In [ ]:
#recursion =>calling itse
# 1. call itself
# 2. base condition condition =>termination  condition /  returninig